body {
    background-color: #000000;
}
#term {
    -moz-border-radius: 10px 10px / 10px 10px;
    border-radius: 10px 10px / 10px 10px;
    background: #131326;
}
.monitor {
    -moz-border-radius: 5px 5px / 5px 5px;
    border-radius: 5px 5px / 5px 5px;
    display: inline-block;
    background: #666666;
    padding: 10px;
}
.terminal, .cmd {
    background-color: #242448;
    color: #00CF00;
    font-size: 14px;
    font-weight: bold;
    padding: 5;
}
.terminal .cmd span.inverted {
    /*background-color: #131313;*/
    /*color: #00CF00;*/
}
.terminal-output > div {
    padding-top: 0;
}
/*div.terminal-output div div {*/
    /*margin-top: -3px;*/
/*}*/
.cmd {
    height: 1em;
}
/*.cmd span {*/
    /*margin-top: -3px;*/
/*}*/
